nav{
    height: 100vh;width: 15%;background-color: rgb(20, 82, 110);float: left;
}
header{
    width: 85%;height: 5vh;background-color: rgb(255, 255, 255);float: right;display: flex;
    align-items: center;justify-content: space-between;padding: 0 10px;
    box-sizing: border-box;
}
section{
    width: 85%;height: 95vh;background-color: rgb(228, 228, 228);float: right;box-sizing: border-box;
    padding: 15px;
}
/* 头部/ */
header .list{
    width: 28px;height: 24px;background-color: rgb(219, 219, 219);padding: 5px 0;box-sizing: border-box;
}
.list li{
    height: 2px;background-color: teal;margin: 2px 5px;border-radius: 2px;
}
header .user_center a{
    font-size: 12px;margin-left: 20px;color:rgb(16, 60, 100)
}
/* 导航 */
nav .nav_list .nav_list_list a{
    color: rgb(182, 182, 182);padding: 10px 20px;box-sizing: border-box;
    font-size: 14px;display: block;
}
nav .nav_list .nav_list_first{
    height:200px;background-color: rgb(19, 70, 104);box-sizing: border-box;
    padding: 30px 0;
}
.nav_list .portrait a{
    display: block;width: 100px;height: 100px;border-radius: 50%;
    margin: 0 auto 15px;overflow: hidden;
}
.portrait img{
    vertical-align: top;height: 100%;
}
.nav_list .username a{
    font-size: 16px;color: rgb(228, 228, 228);font-weight: 500;
    display: block;text-align: center;
}
.nav_list  .select_nav{
    background-color: rgb(26, 58, 85);color: #fff !important;
}
nav .nav_list_list i{
    float: right;padding: 2px 0 0;box-sizing: border-box;
}
.article{
    padding: 0 11px;max-height: 0px;overflow: hidden;opacity: 0;
}
.nav_list .show_nav_animation{
    animation: show_nav_article .3s ease forwards;
}
.nav_list .hidden_nav_animation{
    animation: hidden_nav_article .3s ease forwards;
}
.article a{
    font-size: 12px !important;transition: 0.3s;
}
.nav_list .color_select_article{
    color: #fff !important;
}

/* 导航东效果 */
@keyframes show_nav_article{
    from{
        max-height: 0px;
        opacity: 0;
    }
    to{
        max-height: 108px;
        opacity: 1;
    }
}
@keyframes hidden_nav_article{
    from{
        max-height: 108px;
        opacity: 1;
    }
    to{
        max-height: 0px;
        opacity: 0;
    }
}


/* 主体-写文章 */
.text_article_write{
    font-size: 26px;font-weight: 500;
}
#form_article_write{
    display: flex;align-items: top;font-size: 12px;
}
.left_form{
    /* flex: 1; */width: 80%;box-sizing: border-box;padding: 10px;
}
#content_article,
#title_article{
    width: 100%;padding: 0 5px;box-sizing: border-box;
    border-radius: 5px;border: 1px solid rgba(0, 0, 0, 0.123);
    height: 30px;line-height: 30px;margin: 10px 0;
}
#content_article{
    height: 300px;border-radius: 7px;
}
.right_form{
    flex: 1;box-sizing: border-box;padding: 10px;
}
.box_form{
    margin-bottom: 10px;
}
.right_form input,
.right_form select{
    width: 100%;margin-top: 8px;height: 28px;
}
.btn_article_write{
    padding: 5px 10px;box-sizing: border-box;background-color: rgb(26, 67, 121);
    color: #fff;border: none;cursor: pointer;outline: none;
}

/* 主体-所有文章 */
.text_article_all{
    font-size: 26px;font-weight: 500;display: inline-block;margin-right: 5px;
    margin-bottom: 10px;
}
.write_article{
    display: inline-block;padding: 2px 5px;border-radius: 3px;
    background-color: rgb(20, 50, 105);color: #fff;font-size: 12px;
}
.slide,
.screen_and_slide{
    display: flex;justify-content: space-between;align-items: center;
    height: 26px;font-size: 12px;
}
.screen{
    display: flex;line-height:26px
}
.btn_screen{
    padding: 0 5px;line-height: 26px;
}
.btn_screen,
.screen select{
    height: 26px;display: inline-block;border-radius: 4px;border: 1px solid rgb(192, 192, 192);
    box-sizing: border-box;background-color: rgb(243, 243, 243);font-size: 12px;margin-right: 5px;
}
.slide{
    border-radius: 4px;border: 1px solid rgb(192, 192, 192);
    overflow: hidden;
}
.slide li{
    padding: 0 10px;box-sizing: border-box;background-color: rgb(243, 243, 243);
    height: 26px;line-height: 26px;border-right: 1px solid rgb(192, 192, 192);cursor: pointer;
}
.slide li:last-child{
    border: none;
}
#table_article{
    width: 100%;text-align: center;margin-top: 10px;
    background-color: rgb(192, 192, 192);box-sizing: border-box;
}
#table_article tr td:first-child{
    text-align: left;width:56%
}

#table_article tr{
    font-size: 14px;font-weight: 400;height: 30px;box-sizing: border-box;
    line-height: 30px;
}
#table_article tr td{
    padding: 0 10px;box-sizing: border-box;overflow: hidden;
    white-space: nowrap;text-overflow: ellipsis;
}
#table_article tr:nth-child(even){
    background-color: rgb(224, 224, 224);
}
#table_article tr:nth-child(odd){
    background-color: rgb(238, 238, 238);
}
#table_article .delete_article,
#table_article .modify_article{
    padding: 2px 5px;border-radius: 4px;box-sizing: border-box;font-size: 12px;
    background-color: rgb(196, 65, 65);color:#fff;margin-left: 3px;
}
#table_article .modify_article{
    background-color: rgba(240, 128, 128, 0);border: 1px solid rgb(180, 180, 180);
    color: black;margin-right: 3px;margin-left:0
}

/* 评论 */
.text_comment_all{
    font-size: 26px;font-weight: 500;display: inline-block;margin-right: 5px;
    margin-bottom: 10px;
}

.slide_comment{
    height: 26px;font-size: 12px;
}
.slide{
    border-radius: 4px;border: 1px solid rgb(192, 192, 192);
    overflow: hidden;float: right;
}
.slide li{
    padding: 0 10px;box-sizing: border-box;background-color: rgb(243, 243, 243);
    height: 26px;line-height: 26px;border-right: 1px solid rgb(192, 192, 192);cursor: pointer;
}
.slide li:last-child{
    border: none;
}
#table_comment{
    width: 100%;text-align: left;margin-top: 10px;
    background-color: rgb(192, 192, 192);box-sizing: border-box;
}
#table_comment tr{
    font-size: 14px;font-weight: 400;height: 30px;box-sizing: border-box;
    line-height: 30px;
}
#table_comment tr td{
    padding: 0 10px;box-sizing: border-box;white-space: nowrap;
    overflow: hidden;text-overflow: ellipsis;
}
#table_comment tr:nth-child(even){
    background-color: rgb(224, 224, 224);
}
#table_comment tr:nth-child(odd){
    background-color: rgb(238, 238, 238);
}
#table_comment .delete_comment,
#table_comment .approval_comment{
    padding: 2px 5px;border-radius: 4px;box-sizing: border-box;
    background-color: rgb(196, 65, 65);color:#fff;margin-left: 3px;
}
#table_comment .approval_comment{
    background-color: rgba(240, 128, 128, 0);background-color: rgb(30, 74, 110);
    margin-right: 3px;margin-left:0;
}
#table_comment tr td:nth-child(2){
    width: 40%;
}
#table_comment tr td:nth-child(3){
    width: 30%;
}
#table_comment tr td:last-child{
    text-align: center;font-size: 12px;
}
