nav{
    height: 100vh;width: 15%;background-color: rgb(20, 82, 110);float: left;
}
header{
    width: 85%;height: 5vh;background-color: rgb(255, 255, 255);float: right;display: flex;
    align-items: center;justify-content: space-between;padding: 0 10px;
    box-sizing: border-box;
}
section{
    width: 85%;height: 95vh;background-color: rgb(228, 228, 228);float: right;box-sizing: border-box;
    padding: 15px;
}
/* 头部/ */
header .list{
    width: 28px;height: 24px;background-color: rgb(219, 219, 219);padding: 5px 0;box-sizing: border-box;
}
.list li{
    height: 2px;background-color: teal;margin: 2px 5px;border-radius: 2px;
}
header .user_center a{
    font-size: 12px;margin-left: 20px;color:rgb(16, 60, 100)
}
/* 导航 */
nav .nav_list .nav_list_list a{
    color: rgb(182, 182, 182);padding: 10px 20px;box-sizing: border-box;
    font-size: 14px;display: block;
}
nav .nav_list .nav_list_first{
    height:200px;background-color: rgb(19, 70, 104);box-sizing: border-box;
    padding: 30px 0;margin-bottom: 10px;
}
.nav_list .portrait a{
    display: block;width: 100px;height: 100px;border-radius: 50%;
    margin: 0 auto 15px;overflow: hidden;
}
.portrait img{
    vertical-align: top;height: 100%;
}
.nav_list .username a{
    font-size: 16px;color: rgb(228, 228, 228);font-weight: 500;
    display: block;text-align: center;
}
.nav_list  .select_nav{
    background-color: rgb(26, 58, 85);color: #fff !important;
}
nav .nav_list_list i{
    float: right;padding: 2px 0 0;box-sizing: border-box;
}
.article{
    padding: 0 11px;max-height: 0px;overflow: hidden;opacity: 0;
}
.nav_list .show_nav_animation{
    animation: show_nav_article .3s ease forwards;
}
.nav_list .hidden_nav_animation{
    animation: hidden_nav_article .3s ease forwards;
}
.article a{
    font-size: 12px !important;transition: 0.3s;
}
.article .color_select_article{
    color: #fff !important;
}

/* 导航东效果 */
@keyframes show_nav_article{
    from{
        max-height: 0px;
        opacity: 0;
    }
    to{
        max-height: 108px;
        opacity: 1;
    }
}
@keyframes hidden_nav_article{
    from{
        max-height: 108px;
        opacity: 1;
    }
    to{
        max-height: 0px;
        opacity: 0;
    }
}



/* 主体/ */
section .directory{
    width: 100%;height: 30px;line-height: 30px;font-size: 20px;
    margin-bottom: 8px;
}
/* 添加分类 */
section .left_directory{
    float: left;width: 35%;font-size: 12px;
}
section .right_directory{
    float: right;width: 65%;
}
.left_directory .add_directory{
    font-size: 16px;height: 25px;line-height: 25px;margin-bottom: 2px;
}
#name_directory,
#icon_directory{
    width: 99%;height: 25px;line-height: 25px;border: 1px solid rgb(199, 199, 199);
    box-sizing: border-box;background-color: #fff;border-radius: 3px;
    padding: 0 5px;margin-left:1%;margin-top: 5px;
}
#add_directory_form{
    font-size: 14px;
}
#add_directory_form .box_directory_form{
    margin: 10px 0 ;
}
#add_directory_form .btn_add_directory{
    padding: 5px 10px;background-color: rgb(78, 88, 114);border: none;
    color: #fff;outline: none;
}
/* 分类列表 */
section .right_directory{
    padding: 0 20px;box-sizing: border-box;
}
.right_directory table{
    background-color: rgb(201, 201, 201);width: 100%;font-size: 12px;
}
.right_directory tr{
    background-color: rgb(224, 224, 224);height: 40px;line-height: 40px;
}
.right_directory .title_directory{
    background-color: rgb(228, 228, 228);
}
.right_directory td{
    padding: 0 5px;box-sizing: border-box;
}
.right_directory tr td:last-child,
.right_directory tr td:first-child{
    text-align: center;
}


.right_directory td:last-child a{
    padding: 2px 4px;box-sizing: border-box;
    border-radius: 3px;margin-right: 2px;color: #fff;
}
.right_directory .delete_directory{
    background-color: rgb(243, 75, 45);
    margin-left: 2px;margin-right: 0;
}
.right_directory .modify_directory{
    background-color: cadetblue;
}
.right_directory .many_delete{
    margin-bottom: 3px;padding: 2px 5px;background-color: rgb(243, 75, 45);border-radius: 2px;font-size: 12px;box-sizing: border-box;
    display: inline-block;color: #fff;
}
.right_directory .dispalyNone{
    display: none;
}
.right_directory tr td:nth-child(2){
    width:75%
}
.right_directory .slide{
    text-align: center;font-size: 12px;margin-top: 10px;
}
.right_directory .slide a{
    display: inline-block;padding: 2px 5px;box-sizing: border-box;
    background-color: chocolate;
}
.right_directory .slide .select{
    background-color: cornflowerblue;
}

